<div class="header">
  <div class="inner-header">
    <h1 class="title">
      俺、何観たんだっけ？
    </h1>
    <li class='new-post'>
      <%= link_to "新しい番組", new_program_path, class:"post-btn" %>
    </li>
  </div>
</div>

<div class="catch-copy">
  <h2>
    まだテレビ <span class="bold">"観るだけ"</span> ですか？
  </h2>
  <p>
    テレビ番組を観るだけの"消費者"から,テレビ番組から学びを得る"生産者"になろう！
  </p>
</div>

<div class="main">
  <div class="program-wrap">
    <% @programs.each do |program|%>
      <div class="p-title">
        <h1 class="program-title">
          <%= program.title %>
          (<%= program.date %>)
        </h1>
      </div>
      <div class="fact-feeling">
        <h3>【番組内容】
      </div>
      <div>
        <%= program.fact %>
      </div>
      <div class="fact-feeling">
        <h3>【感想】
      </div>
      <div>
        <%= program.feeling %>
      </div>
      <ul class="tag">
        <li class="tag-list">
          <% program.tags.each do |tag| %>
            #<%= tag.name %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>