<div class="header">
  <div class="inner-header">
    <h1 class="title">
      俺、何観たんだっけ？
    </h1>
    <li class='new-post'>
      <%= link_to "新しい番組", new_program_path, class:"post-btn" %>
    </li>
  </div>
</div>

<div class="main">
  <div class="program-wrap">
    <% @programs.each do |program|%>
      <div class="p-title">
        <h1 class="program-title">
          <%= program.title %>
      </div>
      <div class="date">
        <h2 class="broadcast-date">
          <%= program.date %>
      </div>
      <div class="fact">
        【番組内容】
        <div>
        <%= program.fact %>
        </div>
      </div>
      <div class=feeling>
        【感想】
        <div>
        <%= program.feeling %>
        </div>
      </div>
      <ul class="tag">
        <li class="tag-list">
          <% program.tags.each do |tag| %>
            #<%= tag.name %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>