<!DOCTYPE html>
<html>
  <head>
    <title>俺、何観たんだっけ？</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="inner-header">
        <h1 class="title"><%= link_to '俺、何観たんだっけ？' %></h1>
        <li class='new-post'>
          <%= link_to "新しい番組", new_program_path, class:"post-btn" %>
        </li>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
